apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: color-page-ingress
  namespace: default
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: color-page
                port:
                  number: 80
